


    a{
        text-decoration: none;
        text-underline-position: none;
    }

    thead>tr>th {
        cursor: pointer;
    }

    .loader { 
        border: 12px solid #f3f3f3;
        border-radius: 50%;
        border-top: 12px solid #3498db;
        width: 80px;
        height: 80px;
        -webkit-animation: spin 1s linear infinite; 
        animation: spin 1s linear infinite;
      }
      
      @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
      }
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
    
    .header-bg{
        background-color: #2980b9;
        color: #175f8e;
        padding: 1rem;
        font-weight: 700;
         
    
    }
    
    .avatar-box{
        width: 150px;
        height: 150px;
        border-radius: 250px; 
        border: 3px solid #3188c2;
        background-color: #fff;
        background-image: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-github-128.png');
        background-repeat: none;
        background-size: cover;   
        position: relative;
        z-index: 99;
       
     }

     .img-box{
        width: 143px;
        height: 144px;
        border-radius: 250px; 
        background-color: #3188c2;
     } 
     input{
     
        padding: 0.8rem; 
        border : 0;
        z-index: 1;
        border-radius: 15px;
        padding-left: 2rem;
        font-weight: bold;
        width: 80%;
        outline: none;

     }
     *:focus {
        outline: none;
    }
    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px white inset;
    }
    
     .input-box{
         padding: 0.1rem;
        position: absolute;
        width: 100%;
        top: 30%; 
        border: 3px solid #3188c2;
        border-radius: 15px;
        z-index: 1;
        position: relative; 
        font-weight: bold;
        background-color: #fff;
   
    
     }
    
     .resualt-box{
         margin-top: 2rem;
         margin-bottom: 2rem;
         background-color: #d4e6f1;
         border-radius: 5px;
         padding: 0.5rem;
    

     }
     
    
     .text-cover{ 
         top: 60%;
         padding-left: 2rem;
         padding: 1.5rem ;
         width: 100%;
         text-align: center;

     }
     
     .search-box{ 
         float: right;
         width: 55px;
         height: 35px;
         z-index: 999;
         padding-top: 8px;
         border: 0; 
         outline: 0;
         user-select: none;
        background-color: transparent;
        cursor: pointer;
        color: #f1f1f1;
      

     }
    
     .search-box:hover{
        color: #3a749b;
        transition: color 0.9s ease-out;

     }
    
     .title-bar{
         background-color: #eff6fa;
         padding: 1rem;
         border-radius: 5px;
         
     }

     .title-row{
        background-color: #fcf9d2;
        padding: 1rem;
        border-radius: 5px;
        margin-bottom: 0.3rem;
        
    }

    .title-row:hover{
        background-color: #f9e8af;
    }

    .circle-box{
        background-color: #fff;
        border-radius: 20px;
        padding: 1rem;

    }
 


    .btn-view{

        background-color: #fff !important;
        padding: 10px 10px;
        border-radius: 200px;
        margin-top: 3px;

    }

    .btn-view:hover{
        background-color: rgb(171, 175, 160) !important;

    }





